@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#242b6b;
    --second-color:#a9b4e1;
}
body{
    width: 100%;
    font-family: "Playfair Display", sans-serif;
}
section{
    padding: 0 20px;
}
.top{
    position: fixed;
    right: 4%;
    bottom: 9%;
    font-size: 2em;
    color: var(--main-color);
    z-index: 999;
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
}
.logo{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 1px;
    & a{
        color: var(--main-color);
        text-decoration: none;
    }
}
nav{
    position: relative;
}
nav .icon{
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.icon:hover span:nth-child(2){
    width: 100%;
}
nav .icon span{
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 2px;
}
nav .icon span:first-child{
    width: 100%;
}
nav .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
nav .icon span:last-child{
    width: 100%;
}
nav ul{
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f5f5;
    color: var(--main-color);
    width: 120px;
    list-style: none;
    display: none;
    z-index: 999;
}
ul::after{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f5f5 transparent;
    position: absolute;
    right: 10px;
    top: -20px;
}
nav:hover ul{
    display: block;
}
nav li a{
    display: block;
    padding: 7px;
    text-decoration: none;
    color: #363535;
    transition: 0.3s;
}
nav li a:hover{
    padding-left: 12px;
}
nav ul li:not(:last-child) a{
    border-bottom:2px solid #ddd;
}
section{
    min-height: 100vh;
}
.main-section{
    background-color: #a9b4e1;
    background-image: url(media/1697438852634.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    .hello{
        position: absolute;
        top: 37%;
        margin-left: -10px;
    }
    & h2{
        font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    font-weight: 500;
    color: white;
    }
    & p{
        font-size: 22px;
    font-weight: 600;
    color: #242b6b;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    border-right: 0.15em solid #242b6b;
    animation:
    typing 2.5s steps(44),
    blink-caret 0.7s step-end infinite;
    }
    .projects{
        display: block;
        text-decoration: none;
        background-color: white;
        color: #242b6b;
        border-radius: 7px;
        text-align: center;
        margin-top: 10px;
        width: 120px;
        font-size: 13px;
        padding: 6px;
        box-shadow: 0 0 3px 1px var(--main-color);
        transition: 0.5s;
    }
    .projects:hover{
        box-shadow: 0 0 10px 1px var(--main-color);
    }
    .icons{
        display: flex;
        justify-content: space-around;
        width: 120px;
        margin-top: 10px;
    }
    & a{
        color: var(--main-color);
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main-color); }
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    background-color: var(--second-color);
    & h1{
        /* width: 100%; */
        text-align: center;
        color: var(--main-color);
        margin: 20px auto;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: center;
        gap: 15px 10px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 13px;
        text-align: center;
        border-radius: 5px;
        color: var(--main-color);
        font-size: 0.9em;
        box-shadow: 0 0 4px 0 var(--main-color);
        transition: 0.5s;
    &:hover{
        box-shadow: 0 0 10px 0 var(--main-color);
        transform: scale(1.03);
    }
    }
    & h2{
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-size: 1.08em;
        margin-bottom: 7px;
    }
    & i{
        font-size: 2.1em;
        margin-bottom: 10px;
    }
}
.projects{
    background-color: var(--second-color);
    .card{
        padding: 0;
    }
    .text{
        padding: 8px;
    }
    & .card img{
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}
.contact{
    & h1{
        margin: 0;
    }
    & .text{
        width: 100%;
    & span{
        display: block;
        font-size: 12px;
    }
    }
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
    color: var(--main-color);
    .icons{
        display: flex;
        gap: 0 10px;
    & a{
        color: var(--main-color);
    }
    }
}
@media (min-width: 450px){
    .sections{
        & h1{
            font-size: 2em;
        }
    }
    .contact{
        margin-top: -79px;
        height: 50vh;
    }
}
@media (min-width: 660px){
    .sections{
        .cards{
            grid-template-columns: repeat(3, 200px);
        }
    }
    .contact{
        .cards{
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
}
@media (min-width: 1200px){
    .top{
        position: fixed;
        right: 7.9%;
        bottom: 11%;
        font-size: 4em;
        color: var(--main-color);
        z-index: 999;
    }
    section{
        padding: 0 150px;
    }
    header{
        padding: 30px 150px;
        .logo{
            font-size: 2em;
        }
        & .icon{
            transform: scale(1.5);
        }
        & nav ul{
            font-size: 1.4em;
        }
    }
    .main-section{
        .hello{
            transform: scale(2) translate(50%, 50%);
        }
    }
    .sections{
        & h1{
            font-size: 4em;
        }
        .cards{
            font-size: 1.5em;
            grid-template-columns: repeat(auto-fit, 400px);
            gap: 9% 4%;
        }
    }
    .services{
        .card {
            padding: 40px;
            & i{
                margin: 20px 0;
                font-size: 3.4em;
            }
        }
    }
    footer{
        font-size: 2em;
        font-weight: bold;
        padding: 30px 150px;
        .icons{
            font-size: 1.1em;
            gap: 0 50px;
        }
    }
}